<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mind Body Soul Doula Care{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">
		<a href="{{ url_for('home') }}"><img class="company-logo" src="{{ url_for('static', filename='photos/') }}"></a>
        </div>
	<button class="menu-toggle">&#9776;</button> <!-- Hamburger Icon -->
        <ul class="nav-links">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
	    <li><a href="{{ url_for('doulas') }}">Meet The Doulas</a></li>
            <li><a href="{{ url_for('packages') }}">Packages</a></li>
	    <li><a href="{{ url_for('rental') }}">Rentals</a></li>
	    <li><a href="{{ url_for('resources') }}">Resources</a></li>
            <li><a href="{{ url_for('connect') }}">Connect With Us</a></li>
        </ul>
    </nav>

    <!-- Main Content Area -->
    <div class="content">
	    {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p class="footer-copyright">© {{ year }} </p>
    </footer>
<script>
  const btn = document.querySelector(".menu-toggle");
  const menu = document.querySelector(".nav-links");
  btn?.addEventListener("click", () => menu.classList.toggle("open"));
</script>
</body>
</html>
